### Data Cleaning

In [15]:
# Read all three datasets
import pandas as pd

reactions = pd.read_csv("Reactions.csv")
content = pd.read_csv("Content.csv")
reactiontype = pd.read_csv("ReactionTypes.csv")

In [16]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [17]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [18]:
reactiontype.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [19]:
# drop unused columns
reactions = reactions.drop(["Unnamed: 0" , "User ID"] , axis=1)
content = content.drop(["Unnamed: 0" , "User ID"] , axis=1)
reactiontype = reactiontype.drop("Unnamed: 0" , axis=1)

In [20]:
# check data types

print(reactions.info())
print(content.info())
print(reactiontype.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    25553 non-null  object
dtypes: object(3)
memory usage: 599.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   object
 3   URL         801 non-null    object
dtypes: object(4)
memory usage: 31.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes
None

In [21]:
# find null values


print("-----------" , reactions.isnull().sum())
print("----------", content.isnull().sum())
print("------------", reactiontype.isnull().sum())

----------- Content ID      0
Type          980
Datetime        0
dtype: int64
---------- Content ID      0
Type            0
Category        0
URL           199
dtype: int64
------------ Type         0
Sentiment    0
Score        0
dtype: int64

In [24]:
# Clean URL column 
content = content.dropna()
content.isnull().sum()

Content ID    0
Type          0
Category      0
URL           0
dtype: int64

In [32]:
content.head()

,Content ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [34]:
reactions.head()

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021-01-06 19:13:01

In [36]:
# drop nan values from reactions
reactions.isnull().sum()

reactions = reactions.dropna()

In [37]:
reactions.head()

                             Content ID        Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58

In [38]:
reactiontype.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [40]:
# check data types

print(f"reactions:\n \n {reactions.info()}")
print(f"content:\n {content.info()}")
print(f"reactiontype:\n {reactiontype.info()}")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    24573 non-null  object
dtypes: object(3)
memory usage: 767.9+ KB
reactions:

 None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 801 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  801 non-null    object
 1   Type        801 non-null    object
 2   Category    801 non-null    object
 3   URL         801 non-null    object
dtypes: object(4)
memory usage: 31.3+ KB
content:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes
reactiontype:
 None

### merging all three dataframes together

In [44]:
reactions.shape

(24573, 3)

In [43]:
content.shape

(801, 4)

In [41]:
merged_df = pd.merge(reactions, content, on="Content ID")

In [42]:
merged_df

,Content ID,Type_x,Datetime,Type_y,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
...,...,...,...,...,...,...
20051,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20052,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20053,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20054,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20055,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [48]:
# rename Type_x and Type_y

merged_df.rename(columns={"Type_x": "Content_Type", "Type_y": "Reaction_Type"}, inplace=True)
merged_df

,Content ID,Content_Type,Datetime,Reaction_Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
...,...,...,...,...,...,...
20051,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20052,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20053,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20054,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...
20055,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [49]:
reactiontype

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [50]:
# now combine it with reaction type dataframe
reactiontype.rename(columns={"Type":"Reaction_Type"}, inplace=True)

In [ ]:
# now merge